* {
    margin: 0;
    padding: 0;
}

div.wrapper {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}

nav {
    background-color: #ddd;
    text-align: right;
    padding-right: 70px;

}

/*nawigacja*/
nav a {
    display: inline-block;
    padding: 10px 25px;
    margin: 10px 15px;
    border: 2px solid brown;
    font-size: 20px;
    text-decoration: none;
    font-family: arial, sans-serif;
    text-transform: uppercase;
    color: brown;
    transition: 0.2s;
}

nav a:hover {
    color: white;
    background-color: brown;
}

/*header*/
header {
    height: 300px;
    background-color: cadetblue;
}

main {
    min-height: 50vh;
    background-color: burlywood;

}

footer {
    min-height: 100px;
    background-color: darkcyan;
}
