* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: verdana, sans-serif;
}

header {
    /*
    height: 200px;
    overflow: hidden;
*/
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

header div {

    width: 25%;
    height: 200px;
    border: 30px solid white;
    background-color: royalblue;
    float: left;
}

header div:nth-child(1) {
    background-color: greenyellow;
}

header div:nth-child(2) {
    background-color: firebrick;
}

header div:nth-child(3) {
    background-color: deepskyblue;
}

header div:nth-child(4) {
    background-color: coral;
}

header div:nth-child(1):hover {
    background-color: cadetblue;
}

header div:nth-child(2):hover {
    background-color: green;
}

header div:nth-child(3):hover {
    background-color: yellow;
}

header div:nth-child(4):hover {
    background-color: dimgray;
}

nav {
    background-color: black;
    /*    height: 50px;*/
    padding: 10px 0 10 50px;
    margin: 20px 0;
}

nav ul {

    list-style: none;
    max-width: 1024px;
    margin: 0 auto;
}

nav ul li {
    float: left;
    width: :25%;
    margin: 0 10px;
}

na ul li a:hover {
    background-color: gray;
    color: yellow;
    background-color: yellow;
}

nav ul li a {
    display: block;
    border: 2px solid white;
    font-size: 26px;
    padding: 10px 30px;
    margin-left: 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

div.blog {
    margin-top: 40px;
}

main {

    float: left;
    width: 65%;
    padding: 40px 20px 0 20px;
}

article img {
    height: 250px;
    width: 200px;
    float: left;
    margin: 20px 20px 20px 0;
}

article h1 {
    text-transform: uppercase;
}

article p {
    margin-top: 20px;
}

aside {
    float: left;
    width: 30%;
}

section.contact {
    background-color: #ddd;
    padding: 15px;
}

section.contact p {
    margin-bottom: 24px;
    font-weight: bold;
}

/*usuwanie kropek "pod"*/
section.contact ul {
    list-style: none;
}

section.contact li {
    margin: 10px 0;
}

section.contact li i {
    margin-right: 20px;
    color: #333;
}

section.news {
    margin-top: 30px;
    height: 300px;
    background-color: #ddd;
    padding: 15px;
}

footer {
    background-color: #444;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 140px;
}
