* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    letter-spacing: 1px;
    font-family: roboto;
}

li {
    float: left;
    color: #bbb;
    text-decoration: none;
    line-height: 70px;
    width: auto;
    padding-left: 40px;
    padding-right: 40px;
    border-right: 2px solid black;
    background-color: grey;
    display: block;

}

li a {
    text-decoration: none;
    display: block;
    background-color: grey;
    width: auto;

}

li:nth-child(5) {
    border: 0;
}

li:nth-child(1) {}

li:nth-child(2) {}

li:nth-child(3) {}

li:nth-child(4) {}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

nav {
    color: #343A40;
    padding-left: 5%;
    text-align: center;
}

ul {
    max-width: 1280px;
    list-style: none
}
