<style>
    *{
        margin: 0
    }
    p {
        font-family: open sans condensed;
        text-transform: uppercase;
        font-size: 5vh;
        text-align: center;
        line-height: 100vh;
        text-decoration: underline;
    
    }
    
    
    </style>