* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: arial;
}

header {
    position: relative;
    height: 100vh;
    /*
    max-width: 1400px;
    margin: 0 auto;
*/
    background-image: url(bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

header > * {
    position: absolute;
}

header img {
    top: 30px;
    left: 60px;
}

header h1 {
    top: 45%;
    font-size: 60px;
    background-color: rgba(255, 255, 255, .5);
    width: 100%;
    text-align: center;
    padding: 20px 20px;
    ;
    text-transform: uppercase;
}

header button {
    bottom: 80px;
    right: 80px;
    font-size: 40px;
    padding: 10px 50px;
    text-transform: uppercase;
    background-color: transparent;
    color: white;
    border: 4px solid white;
    transition: 0.3s;
}

header button:hover {
    background-color: rgba(0, 0, 0, .5);
}

@media (max-width: 1024px) {
    header {
        background-size: cover;
        margin: 80px auto 0;
    }
}

@media (max-width: 812p) and (orientation: landscape) {
    header img {
        width: 25%;
    }

    header h1 {
        font-size: 26px;
    }

    header button {
        bottom: 30px;
        font-size: 20px;
    }
}

section {
    width: 86%;
    margin: 80px auto 0 auto;
}

section p {
    line-height: 1.7;
    font-size: 14px;
}
